sqlalchemy
paramiko==2.4.2
cryptography==3.2
colorama

azure-cli-core==2.0.72
azure-mgmt-compute==6.0.0
azure-mgmt-network==5.0.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-resource==2.1.0
azure-mgmt-storage==4.0.0
azure-storage-blob==2.1.0
environs==4.1.0
mysqlclient==1.4.2.post1
pymysql==0.9.3

# syntax checker
pylint
